#divisor{
    width: 100%;
    background-image: url('../imagens/about.svg');
    background-repeat: no-repeat;
    background-size: cover;
}

#about{
    width: 100%;
    height: 70vh;
    background-color: var(--color-primary-2);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#about-content{
    width: 45%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    color: white;
}

@media screen and (max-width: 1070px){
    #about{
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    #shape{
        display: none;
    }
    
    #about-content{
        text-align: center;
        width: 80%;
        min-height: 30vh;
    }
}