footer{
    background-color: var(--color-primary-3);
}

#footer-items{
    display: flex;
    justify-content: space-between;
    padding: 0px 8% 40px 8%;
    align-items: center;
    color: black;
    font-weight: 500;
}

@media screen and (max-width: 600px){
    #footer-items{
        flex-direction: column;
        gap: 20px;
        padding: 30px;
    }
}